In [1]:
import cPickle as pickle

with open("24OCT17_pipelinerun/als_trainpreds_tvsr2.pkl", 'rb') as f:
    trainpreds = pickle.load(f)
    
with open("24OCT17_pipelinerun/als_train_df_pd.pkl", 'rb') as f:
    train_df = pickle.load(f)

In [6]:
trainpreds.head()

   PersonID  EventID  Participated           Event_Date  prediction
0       148       31             1  1448064000000000000    0.788674
1       463       31             0  1448064000000000000    0.000000
2       471       31             0  1448064000000000000    0.000785
3       496       31             1  1448064000000000000    0.361366
4       833       31             0  1448064000000000000    0.000000

In [24]:
user148 = trainpreds[trainpreds['PersonID'] == 148].copy()

In [25]:
user148.sort_values(by='prediction', axis=0, ascending=False, inplace=True)

In [26]:
user148.head()

        PersonID  EventID  Participated           Event_Date  prediction
495574       148       33             0  1450483200000000000    0.795480
0            148       31             1  1448064000000000000    0.788674
269530       148       35             1  1453507200000000000    0.773432
538630       148       30             1  1446854400000000000    0.705866
581686       148       36             1  1454716800000000000    0.674917

In [27]:
user148['prediction'].max()

0.79548025131225586

In [35]:
user148['rank_ui'] = user148['prediction'].apply(lambda x: (1 - (x / user148['prediction'].max()))*100)

In [41]:
user148[user148['Participated']==1]

,PersonID,EventID,Participated,Event_Date,prediction,rank_ui
0,148,31,1,1448064000000000000,0.788674,0.855616
269530,148,35,1,1453507200000000000,0.773432,2.771644
538630,148,30,1,1446854400000000000,0.705866,11.265415
581686,148,36,1,1454716800000000000,0.674917,15.156095
474046,148,32,1,1449273600000000000,0.636570,19.976691

In [42]:
rank_bar_user148 = sum(user148['Participated'] * user148['rank_ui']) / sum(user148['Participated'])

In [43]:
rank_bar_user148

10.00509218381255

In [44]:
unique_personID = trainpreds['PersonID'].unique()

In [45]:
import numpy as np
trainpreds_arr = np.array(trainpreds)

In [47]:
numerator_sum = 0
denominator_sum = 0

for person in unique_personID:
    user = trainpreds[trainpreds['PersonID'] == person]
    user['rank_ui'] = user['prediction'].apply(lambda x: (1 - (x / user['prediction'].max()))*100)
    numerator_sum += sum(user['Participated'] * user['rank_ui'])
    denominator_sum += sum(user['Participated'])

/Users/ginanuss/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [48]:
rank_bar = numerator_sum / denominator_sum

In [49]:
rank_bar  #need to fix this code tomorrow AM!

nan

In [51]:
denominator_sum

10753