In [1]:
#import from python modules:
import cPickle as pickle
import pandas as pd
import numpy as np
from collections import defaultdict

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
with open ('../data/cleaned_df_24NOV17.pkl', 'rb') as f:
    df = pickle.load(f)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18290 entries, 0 to 18298
Data columns (total 28 columns):
PersonID             18290 non-null int64
EventID              18290 non-null int64
Gender               18290 non-null object
Distance             18290 non-null object
Total fee            18290 non-null float64
Payment method       14723 non-null object
Street Address       15362 non-null object
City                 16543 non-null object
State/Province       17387 non-null object
Zip Code             16283 non-null object
Country              17107 non-null object
Contact              18290 non-null object
Tshirt               18290 non-null object
Hoodie               18290 non-null object
Event_Name           18290 non-null object
Event_Date           18290 non-null datetime64[ns]
MergeoEvent          18290 non-null bool
EventTypeID          18290 non-null int64
EventType            18290 non-null object
SeriesID             18290 non-null float64
Age2                 18290 non-null float64
Miles2               18290 non-null float64
Time2                18290 non-null object
Preregistered        18290 non-null int64
has_emerg_contact    18290 non-null int64
HasSeries            18290 non-null object
has_pay_method       18290 non-null object
Venue_Zip            18290 non-null int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(6), object(16)
memory usage: 3.9+ MB

In [9]:
person_event_count_df = df.groupby(by='PersonID').count()

In [13]:
person_event_count_df.index.values

array([    1,     2,     3, ..., 11669, 11670, 11671])

In [14]:
person_event_count_df['EventID'].values

array([1, 2, 1, ..., 1, 1, 1])

In [76]:
repeat_attendees_df = pd.DataFrame.from_dict({'PersonID': person_event_count_df.index.values, 
                                              'Event_Count': person_event_count_df['EventID'].values})

In [77]:
repeat_attendees_df.head()

   Event_Count  PersonID
0            1         1
1            2         2
2            1         3
3            1         4
4            2         5

In [78]:
list(df[df['PersonID']==5]['EventID'].values)

[13, 40]

In [79]:
personID_eventID_dict = defaultdict(list)
personID_eventdate_dict = defaultdict(list)
personID_seriesID_dict = defaultdict(list)

for num in person_event_count_df.index.values:
    personID_eventID_dict[num].append(list(df[df['PersonID']==num]['EventID'].values))
    personID_eventdate_dict[num].append(list(df[df['PersonID']==num]['Event_Date'].values))
    personID_seriesID_dict[num].append(list(df[df['PersonID']==num]['SeriesID'].values))

In [80]:
repeat_attendees_df['Event_IDs'] = repeat_attendees_df['PersonID'].map(personID_eventID_dict)
repeat_attendees_df['Event_Dates'] = repeat_attendees_df['PersonID'].map(personID_eventdate_dict)
repeat_attendees_df['Series_IDs'] = repeat_attendees_df['PersonID'].map(personID_seriesID_dict)

In [81]:
repeat_attendees_df.head()

,Event_Count,PersonID,Event_IDs,Event_Dates,Series_IDs
0,1,1,[[11]],[[2015-02-15T00:00:00.000000000]],[[2.0]]
1,2,2,"[[9, 17]]","[[2015-01-24T00:00:00.000000000, 2015-06-09T00...","[[1.0, 3.0]]"
2,1,3,[[30]],[[2015-11-07T00:00:00.000000000]],[[1.0]]
3,1,4,[[18]],[[2015-06-20T00:00:00.000000000]],[[2.0]]
4,2,5,"[[13, 40]]","[[2015-03-14T00:00:00.000000000, 2016-04-16T00...","[[0.0, 2.0]]"

In [82]:
personID_eventdate_dict[5]

[[numpy.datetime64('2015-03-14T00:00:00.000000000'),
  numpy.datetime64('2016-04-16T00:00:00.000000000')]]

In [83]:
repeat_attendees_df['Event_IDs'] = repeat_attendees_df['Event_IDs'].apply(lambda x: x[0])
repeat_attendees_df['Event_Dates'] = repeat_attendees_df['Event_Dates'].apply(lambda x: x[0])
repeat_attendees_df['Series_IDs'] = repeat_attendees_df['Series_IDs'].apply(lambda x: x[0])

In [84]:
repeat_attendees_df.head()

,Event_Count,PersonID,Event_IDs,Event_Dates,Series_IDs
0,1,1,[11],[2015-02-15T00:00:00.000000000],[2.0]
1,2,2,"[9, 17]","[2015-01-24T00:00:00.000000000, 2015-06-09T00:...","[1.0, 3.0]"
2,1,3,[30],[2015-11-07T00:00:00.000000000],[1.0]
3,1,4,[18],[2015-06-20T00:00:00.000000000],[2.0]
4,2,5,"[13, 40]","[2015-03-14T00:00:00.000000000, 2016-04-16T00:...","[0.0, 2.0]"

In [97]:
len(repeat_attendees_df[repeat_attendees_df['Event_Count']>1])

2739

In [86]:
test = [1.0, 2.0, 0.0]
test2 = [1.0, 1.0]

In [124]:
repeat_attendees_df['Cross_Series_Attend'] = repeat_attendees_df['Series_IDs'].apply(lambda x: 
                                            'One Off' if len(x) == 1 else
                                            ('Single - {}'.format(x[0]) if len(set(x)) == 1 else 'Multiple'))

In [127]:
repeat_attendees_df.head()

,Event_Count,PersonID,Event_IDs,Event_Dates,Series_IDs,Cross_Series_Attend
0,1,1,[11],[2015-02-15T00:00:00.000000000],[2.0],One Off
1,2,2,"[9, 17]","[2015-01-24T00:00:00.000000000, 2015-06-09T00:...","[1.0, 3.0]",Multiple
2,1,3,[30],[2015-11-07T00:00:00.000000000],[1.0],One Off
3,1,4,[18],[2015-06-20T00:00:00.000000000],[2.0],One Off
4,2,5,"[13, 40]","[2015-03-14T00:00:00.000000000, 2016-04-16T00:...","[0.0, 2.0]",Multiple

In [130]:
multi_attend_single_series = repeat_attendees_df[repeat_attendees_df['Cross_Series_Attend'] > 'Single']

In [131]:
len(multi_attend_single_series)

1241

In [132]:
multi_attend_multi_series = repeat_attendees_df[repeat_attendees_df['Cross_Series_Attend'] == 'Multiple']

In [134]:
len(multi_attend_multi_series)

1498

In [165]:
single_attend = repeat_attendees_df[repeat_attendees_df['Cross_Series_Attend'] == 'One Off']

In [166]:
len(single_attend)

8693

In [173]:
len (repeat_attendees_df)

11432

In [178]:
'{}% of attendees are repeat. {}% of repeat attendees have only attended one series and {}% have attended multiple'.format(round((1241+1498)/11432.*100), round(1241/2739. * 100), round(1498/2739. * 100))

'24.0% of attendees are repeat. 45.0% of repeat attendees have only attended one series and 55.0% have attended multiple'

In [150]:
multi_attend_single_series_counts = multi_attend_single_series.groupby(by='Cross_Series_Attend')['Event_Count'].count()

In [156]:
multi_attend_single_series_counts.index.values

array(['Single - 0.0', 'Single - 1.0', 'Single - 2.0', 'Single - 3.0',
       'Single - 4.0'], dtype=object)

In [162]:
for idx, val in enumerate(multi_attend_single_series_counts):
    print 'Series {}: {}%'.format(idx, round(val/1241. * 100))

Series 0: 3.0%
Series 1: 24.0%
Series 2: 45.0%
Series 3: 10.0%
Series 4: 18.0%